.button {
    height: 45px;
    background-color: var(--text-color);
    padding: 0 23px;
    border-radius: 15px;
    border: none;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
}