.consultation {
    margin-top: 56px;
    margin-bottom: 58px;
    &__title {
        text-align: center;
        font-size: 28px;
        font-weight: 400;
        color: #3a3a3a;
    }
    &__logo {
        position: relative;
        margin: 20px auto 20px auto;
        height: 102px;
        width: 102px;
        border-radius: 100%;
        border: 1px solid var(--text-color);
        text-align: center;
        img{
            margin-top: 17px;
        }
        &::before {
            content: '';
            position: absolute;
            height: 1px;
            width: 509px;
            top: 50%;
            right: 115px;
            background-color: #3a3a3a;
            opacity: 0.4;
        }
        &::after {
            content: '';
            position: absolute;
            height: 1px;
            width: 509px;
            top: 50%;
            left: 115px;
            background-color: #3a3a3a;
            opacity: 0.4;
        }
    }
    &__inputs {
        display: flex;
        justify-content: center;
        input {
            padding: 8px 20px;
            margin-right: 5px;
            border-radius: 50px;
            font-size: 14px;
            font-weight: 300;
            width: 265px;
            border: 1px solid #3a3a3a;
            opacity: 0.4;
        }
    }
    &__form{
        text-align: center;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            height: 162px;
            width: 1px;
            opacity: 0.4;
            background-color: #3a3a3a;
            top: -70px;
            left: -4px;
        }
        &::after{
            content: '';
            position: absolute;
            height: 162px;
            width: 1px;
            opacity: 0.4;
            background-color: #3a3a3a;
            top: -70px;
            right: -4px;
        }
        button {
            position: relative;
            margin-top: 30px;
            &::before {
                content: '';
                position: absolute;
                height: 1px;
                width: 488px;
                top: 50%;
                right: 161px;
                background-color: #3a3a3a;
                opacity: 0.4;
            }
            &::after {
                content: '';
                position: absolute;
                height: 1px;
                width: 488px;
                top: 50%;
                left: 161px;
                background-color: #3a3a3a;
                opacity: 0.4;
            }
        }
    }
}