.delivery {
    padding: 51px 0 57px 0;
    &__divider {
        width: 148px;
        height: 1px;
        background-color: var(--text-color);
        margin: 0 auto;
        margin-top: 15px;
    }
    &__subtitle {
        margin-top: 17px;
        font-size: 21px;
        font-weight: 300;
        line-height: 24px;
        text-align: center;
    }
    &__wrapper {
        margin-top: 37px;
        display: grid;
        grid-template-columns: repeat(3, 360px);
        grid-template-rows: 210px 130px;
        column-gap: 30px;
        row-gap: 28px;
        &-item {
            text-align: center;
            font-size: 14px;
            font-weight: 300;
            line-height: 22px;
            h3 {
                color: var(--text-color);
            }
        }
    }
}